<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Дивы в диве</title>
</head>
<body>
<div class="container">
    <div class="normal_size">
        <img class="img" src="{{ url_for('static', filename='images/logo.png') }}" alt='ooops image'/>
        <div class="grid_list">
            <div class="spotify">
                <li>1. {{ spotify1 }}</li>
                <li>2. {{ spotify2 }}</li>
                <li>3. {{ spotify3 }}</li>
                <li>4. {{ spotify4 }}</li>
                <li>5. {{ spotify5 }}</li>
                <li>6. {{ spotify6 }}</li>
                <li>7. {{ spotify7 }}</li>
                <li>8. {{ spotify8 }}</li>
                <li>9. {{ spotify9 }}</li>
                <li>10. {{ spotify10 }}</li>
                <li>11. {{ spotify11 }}</li>
                <li>12. {{ spotify12 }}</li>
                <li>13. {{ spotify13 }}</li>
                <li>14. {{ spotify14 }}</li>
                <li>15. {{ spotify15 }}</li>
                <li>16. {{ spotify16 }}</li>
                <li>17. {{ spotify17 }}</li>
                <li>18. {{ spotify18 }}</li>
                <li>19. {{ spotify19 }}</li>
                <li>20. {{ spotify20 }}</li>
                <li>21. {{ spotify21 }}</li>
                <li>22. {{ spotify22 }}</li>
                <li>23. {{ spotify23 }}</li>
                <li>24. {{ spotify24 }}</li>
                <li>25. {{ spotify25 }}</li>
                <li>26. {{ spotify26 }}</li>
                <li>27. {{ spotify27 }}</li>
                <li>28. {{ spotify28 }}</li>
                <li>29. {{ spotify29 }}</li>
                <li>30. {{ spotify30 }}</li>
                <li>31. {{ spotify31 }}</li>
                <li>32. {{ spotify32 }}</li>
                <li>33. {{ spotify33 }}</li>
                <li>34. {{ spotify34 }}</li>
                <li>35. {{ spotify35 }}</li>
                <li>36. {{ spotify36 }}</li>
                <li>37. {{ spotify37 }}</li>
                <li>38. {{ spotify38 }}</li>
                <li>39. {{ spotify39 }}</li>
                <li>40. {{ spotify40 }}</li>
                <li>41. {{ spotify41 }}</li>
                <li>42. {{ spotify42 }}</li>
                <li>43. {{ spotify43 }}</li>
                <li>44. {{ spotify44 }}</li>
                <li>45. {{ spotify45 }}</li>
                <li>46. {{ spotify46 }}</li>
                <li>47. {{ spotify47 }}</li>
                <li>48. {{ spotify48 }}</li>
                <li>49. {{ spotify49 }}</li>
                <li>50. {{ spotify50 }}</li>
            </div>
            <div class="yt">

            </div>
            <div class="apple">

            </div>
            <div class="yandex">
                <li>1. {{ yandex1 }}</li>
                <li>2. {{ yandex2 }}</li>
                <li>3. {{ yandex3 }}</li>
                <li>4. {{ yandex4 }}</li>
                <li>5. {{ yandex5 }}</li>
                <li>6. {{ yandex6 }}</li>
                <li>7. {{ yandex7 }}</li>
                <li>8. {{ yandex8 }}</li>
                <li>9. {{ yandex9 }}</li>
                <li>10. {{ yandex10 }}</li>
                <li>11. {{ yandex11 }}</li>
                <li>12. {{ yandex12 }}</li>
                <li>13. {{ yandex13 }}</li>
                <li>14. {{ yandex14 }}</li>
                <li>15. {{ yandex15 }}</li>
                <li>16. {{ yandex16 }}</li>
                <li>17. {{ yandex17 }}</li>
                <li>18. {{ yandex18 }}</li>
                <li>19. {{ yandex19 }}</li>
                <li>20. {{ yandex20 }}</li>
                <li>21. {{ yandex21 }}</li>
                <li>22. {{ yandex22 }}</li>
                <li>23. {{ yandex23 }}</li>
                <li>24. {{ yandex24 }}</li>
                <li>25. {{ yandex25 }}</li>
                <li>26. {{ yandex26 }}</li>
                <li>27. {{ yandex27 }}</li>
                <li>28. {{ yandex28 }}</li>
                <li>29. {{ yandex29 }}</li>
                <li>30. {{ yandex30 }}</li>
                <li>31. {{ yandex31 }}</li>
                <li>32. {{ yandex32 }}</li>
                <li>33. {{ yandex33 }}</li>
                <li>34. {{ yandex34 }}</li>
                <li>35. {{ yandex35 }}</li>
                <li>36. {{ yandex36 }}</li>
                <li>37. {{ yandex37 }}</li>
                <li>38. {{ yandex38 }}</li>
                <li>39. {{ yandex39 }}</li>
                <li>40. {{ yandex40 }}</li>
                <li>41. {{ yandex41 }}</li>
                <li>42. {{ yandex42 }}</li>
                <li>43. {{ yandex43 }}</li>
                <li>44. {{ yandex44 }}</li>
                <li>45. {{ yandex45 }}</li>
                <li>46. {{ yandex46 }}</li>
                <li>47. {{ yandex47 }}</li>
                <li>48. {{ yandex48 }}</li>
                <li>49. {{ yandex49 }}</li>
                <li>50. {{ yandex50 }}</li>
            </div>
        </div>
    </div>
</div>
</body>
</html>


