<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Дивы в диве</title>
</head>
<body>
<div class="container">
    <div class="grid_list">
        <div class="item">
            <input class="field" type="text" name="first" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="second" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="third" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="fourth" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="first" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="second" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="third" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="fourth" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="first" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="second" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="third" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="fourth" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="first" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="second" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="third" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="fourth" placeholder="какой-то инпут" value="">
        </div>
        <div class="item">
            <input class="field" type="text" name="five" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="six" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="seven" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="eight" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="five" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="six" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="seven" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="eight" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="five" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="six" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="seven" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="eight" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="five" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="six" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="seven" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="eight" placeholder="какой-то инпут" value="">
        </div>
        <div class="item">
            <input class="field" type="text" name="nine" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="ten" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="eleven" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="twelve" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="nine" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="ten" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="eleven" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="twelve" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="nine" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="ten" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="eleven" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="twelve" placeholder="какой-то инпут" value="">
        </div>
        <div class="item">
            <input class="field" type="text" name="one" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="two" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="three" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="four" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="one" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="two" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="three" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="four" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="one" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="two" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="three" placeholder="какой-то инпут" value="">
            <input class="field" type="text" name="four" placeholder="какой-то инпут" value="">
        </div>
    </div>
</div>
</body>
</html>


