<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
<div class="login_form">
<form method=POST action="{{ url_for('login') }}" class="form">
    <div class="form-group">
        <label for="exampleInputEmail">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" class="form-control" name="pass" placeholder="Password">
    </div>
    <button type="submit">Log In</button>
</form>
</div>
</body>
</html>