
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@700&display=swap" rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Iceberg" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon_2.ico') }}">
    <title>DiFFCharts | Register</title>
</head>
<body style="font-family: 'Iceberg', sans-serif; max-height: 1vh; display: grid; grid: 100vh/1fr; place-items: center; overflow: visible;">
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;">
        <defs>
            <radialGradient id="Gradient1" cx="50%" cy="50%" fx="10%" fy="50%" r=".5">
                <animate attributeName="fx" dur="34s" values="0%;3%;0%" repeatCount="indefinite" />
                <stop offset="0%" stop-color="#ff0" />
                <stop offset="100%" stop-color="#ff00" />
            </radialGradient>
            <radialGradient id="Gradient2" cx="50%" cy="50%" fx="10%" fy="50%" r=".5">
                <animate attributeName="fx" dur="23.5s" values="0%;3%;0%" repeatCount="indefinite" />
                <stop offset="0%" stop-color="#0ff" />
                <stop offset="100%" stop-color="#0ff0" />
            </radialGradient>
            <radialGradient id="Gradient3" cx="50%" cy="50%" fx="50%" fy="50%" r=".5">
                <animate attributeName="fx" dur="21.5s" values="0%;3%;0%" repeatCount="indefinite" />
                <stop offset="0%" stop-color="#f0f" />
                <stop offset="100%" stop-color="#f0f0" />
            </radialGradient>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient1)">
            <animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite" />
            <animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite" />
            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="17s"
                repeatCount="indefinite" />
        </rect>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient2)">
            <animate attributeName="x" dur="23s" values="-25%;0%;-25%" repeatCount="indefinite" />
            <animate attributeName="y" dur="24s" values="0%;50%;0%" repeatCount="indefinite" />
            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="18s"
                repeatCount="indefinite" />
        </rect>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient3)">
            <animate attributeName="x" dur="25s" values="0%;25%;0%" repeatCount="indefinite" />
            <animate attributeName="y" dur="26s" values="0%;25%;0%" repeatCount="indefinite" />
            <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="19s"
                repeatCount="indefinite" />
        </rect>
    </svg>
    <div style="z-index: 100; padding: 100px; background-color: rgba(255, 255, 255, 0.514); border-radius: 60px; text-align: center;display: flex; justify-content: center; align-items: center; max-width: 150px; max-height: 500px;" >
        <form action="/register" method="post" enctype="multipart/form-data">
            <span class="drop-title">Choose your avatar here</span>
            <label for="images" class="drop-container">
            
            <p><input type="file"  accept="image/*" name="file" id="images"  onchange="loadFile(event)" style="display: none;"></p>
            <!-- <p><label for="file" style="cursor: pointer;">Upload Image</label></p> -->
            <p><img id="output" width=245px height=245px style="border-radius: 500px; max-width: 245px; max-height: 245px; margin-top: -38px;" /></p>
            <script>
            var loadFile = function(event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
            };
            </script>
            </label>
            <p><label>Email: </label> <input type="email" name="email" placeholder="Email" value="" required style="border-radius: 7px; border-width: 1px; background-color: rgba(255, 255, 255, 0.911); height: 25px; width: 100%;"/>
            <p><label>Username: </label> <input type="text" name="username" placeholder="Username" value="" required style="border-radius: 7px; border-width: 1px; background-color: rgba(255, 255, 255, 0.911); height: 25px; width: 100%;"/>
            <p><label>Name: </label> <input type="text" name="name" value="" placeholder="Name" required style="border-radius: 7px; border-width: 1px; background-color: rgba(255, 255, 255, 0.911); height: 25px; width: 100%;"/>
            <p><label>Surname: </label> <input type="text" name="surname" value="" placeholder="Surname" required style="border-radius: 7px; border-width: 1px; background-color: rgba(255, 255, 255, 0.911); height: 25px; width: 100%;"/>
            <p><label>Password: </label> <input type="password" name="psw" value="" placeholder="Password" required style="border-radius: 7px; border-width: 1px; background-color: rgba(255, 255, 255, 0.911); height: 25px; width: 100%;" />
            <p><input class="hover-center-1" type="submit" value="Sign Up" id="regbut" style=""/>
        </form>
    </div>
</body>
</html>