.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(255, 255, 128, .5);
}
.container .grid_list{
    border: 1px solid #cccccc;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    background-color: rgb(255, 255, 128);
}
.container .grid_list .item{
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgb(255, 255, 70);
}
.container .grid_list .item .field{
    display: block;
    margin-bottom: 15px;
    padding: 5px;
}

