.html, body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 15px;
    display: none;
}
.container{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #EAAFCB 37.5%, #9DBAE6 100%);
    background-size: cover;
}
.container .normal_size{
    width: 1600px;
    height: 1400px;
    margin: auto;
}

.container .normal_size .grid_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 66px;
    width: 100%;
    margin-right:200px;
    margin-left:200px;
    width: auto;
}
.container .normal_size .grid_list .spotify{
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 712px;
    width: 250px;
    border: solid;
    border-color: green;
    border-radius: 50px;
    box-sizing: border-box;
    overflow-y: auto;
}
.container .normal_size .grid_list .spotify li{
    background-color: linear-gradient(180deg, #EAAFCB 37.5%, #9DBAE6 100%);
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border: solid;
    border-color: green;
    border-width:1px 0px;
    font-size: large;
}
.container .normal_size .grid_list .yandex{
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 712px;
    width: 250px;
    border: solid;
    border-color: yellow;
    border-radius: 50px;
    box-sizing: border-box;
    overflow-y: auto;
}
.container .normal_size .grid_list .yandex li{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.container .normal_size .grid_list .apple{
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 712px;
    width: 250px;
    border: solid;
    border-color: blue;
    border-radius: 50px;
    box-sizing: border-box;
    overflow-y: auto;
}
.container .normal_size .grid_list .apple li{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.container .normal_size .grid_list .yt{
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 712px;
    width: 250px;
    border: solid;
    border-color: red;
    border-radius: 50px;
    box-sizing: border-box;
    overflow-y: auto;
}
.container .normal_size .grid_list .yt li{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.container .normal_size .grid_list .spotify a:hover{
    background-color: #ccc;
}

.container .normal_size .grid_list .spotify .field{
    display: block;
    margin-bottom: 15px;
    padding: 5px;
}
.img {
    max-width: 1600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

