@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url('http://fonts.cdnfonts.com/css/iceberg');

#mainbody{
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #d446ff, #e73c7e, #23a6d5, #fae311);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
  height: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@font-face {
    font-family: 'GFS Neohellenic1';
    src: url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@700&display=swap');
   }
::-webkit-scrollbar{
    width: 15px;
    display: none;
}
.container{
    top: 0;
    left: 0;
    width: 100%;
    height: 1570px;
    background-image: url('background.png');
    background-size: 100%;
}
@font-face {
  font-family: 'Iceberg';
  src: url('https://fonts.googleapis.com/css?family=Iceberg');
 }
.container .menu{
  width: 100%;
  height: 120px;
  text-align: center;
  padding: auto;
  margin-top: -30px;
  font-family: 'Iceberg', sans-serif;
  font-size: 30px;
  color: white;
}
.container .menu ul{
  display: inline;
  margin: 0;
  padding: 0;
  top: 40px;
  left: 13%;
}
.container .menu li {
  float: left;
  padding: 2px 5px;
  margin-right: 40px;
  width: 133px;
  height: 59px;
}

.normal_size{
    width: 1600px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.grid_list{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 7px;
    height: auto;
    width: 100%;
    padding-top: 0px;
    top: -50px;
}
.list{
    height: 800px;
    width: 97%;
    border-radius: 60px;
    border-width: 0px 7px 7px 7px;
    border-style: solid;
    border-color: #FFFFFF;
}

.container .normal_size .grid_list .list .bottom_logo{
    height: 90px;
    width: 222px;
    position: relative;
    top: 530px;
    left: 75px;
}

.main_zone{
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -110px;
    max-height: 522px;
}
.inside{
    background-color: linear-gradient(180deg, #EAAFCB 37.5%, #9DBAE6 100%);
    display: flex;
    width: 93%;
    height: 80px;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: large;
    white-space: nowrap;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.inside .pictures {
    height: 70px;
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 10px;
}
   
.inside .song_name{
    position: relative;
    margin-left: 8px;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    padding-bottom: 5px;
    font-size: larger;
} 
.inside .waves{
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 250px;
    height: 40px;
  }
.img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.marquee {
    width: 100%;
    height: 26px;
    overflow: hidden;
    line-height: 30px;
    position: relative;
    float: left;
  }
  .marquee span {
    position: absolute;
    white-space: nowrap;
    transform: translateX(0);
    transition: 5s;
    max-width: 100%;
    max-height: 100%;
    color: black;
    font-size: 22px;
    font-family:'GFS Neohellenic';
  }
  .marquee:hover span {
    transform: translateX(calc(-450px + 100%));
  }
  .svg_logo{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: -35px;
  }
  .svg_logo_mobile{
    width: 130px;
    height: 130px;
    margin-left: 80px;
  }
  .shadow{
    position: relative;
    width: 120px;
    height: 35px;
    bottom: 30px;
    right: 86px;

  }
  .play_background{
    background: #201f1f4d;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 22px;
    top: 22px;
    border-radius: 20px;
  }
  .play_background .play_arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    left: 14px;
    top: 14px;
  }
  .bottom_layer{
    position: absolute;
    width: 380px;
    height: 75px;
    left: 160px;
    top: 1488px;
    
    border-width: 7px 7px 0px 7px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 60px 60px 0px 0px;
  }
  .bottom_inst{
    position: absolute;
    top: 13px;
    left: 60px;
  }
  .bottom_telegram{
    position: absolute;
    top: 13px;
    left: 165px;
  }
  .bottom_linkedin{
    position: absolute;
    top: 13px;
    left: 270px;
  }

  /* .button_play{
    width: 30px;
    height: 35px;
    flex: auto;
  } */

ul {
    position: relative;
    display: flex;
    width: 50px;
}
ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    width: 50px;
    left: -25px;
}
#bot {
    text-decoration: none;
}
#bot .fa-brands {
    font-size: 3em;
    color: rgb(255, 254, 254);
}
#bot::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

#bot2:nth-child(1) a::before {
    content: "\f2c6";
    color: #2da1da;
    border-bottom: 4px solid #2da1da;
}
#bot2:nth-child(2) a::before {
    content: "\f16d";
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
    right: 0%;
    width: 100%;
}

#bot2:nth-child(3) a::before {
    content: "\f099";
    color: #1da1f2;
    border-bottom: 4px solid #1da1f2;
}
#bot2:nth-child(4) a::before {
    content: "\f167";
    color: red;
    border-bottom: 4px solid red;
}
#bot2:hover a::before {
    height: 100%;
}
.login_form{
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
}
.login_form .form{
  align-items: center;
  position: relative;
  margin: auto;
  margin-top: 80%;
  margin-left: 30%;
}

.textInHorizontalLine {
  width: 100%;
  line-height: .1em;
  margin: 24px 0;
  background: #e0e0e0;
  text-align: center;
  color: #bad52300;
}
.inside_song{
  background-color: linear-gradient(180deg, #EAAFCB 37.5%, #9DBAE6 100%);
  display: flex;
  width: 93%;
  background: #ffffff;
  border-radius: 30px;
  font-size: large;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.inside_song h3{
  margin-left: 10px;
  word-wrap: break-word;
}

.card {
  background-color: #fff;
  width: 1200px;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
}
.card--content {
  width: 700px;
  height: 640px;
  margin: 5px;
  border-radius: 60px;
  border-width: 0px 3px 3px 3px;
  border-style: solid;
  border-color: #FFFFFF;
  z-index: 102;
}




.main_zone_mobile{
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -30px;
  max-height: 500px;
}
.inside_mobile{
  background-color: linear-gradient(180deg, #EAAFCB 37.5%, #9DBAE6 100%);
  display: flex;
  width: 93%;
  height: 80px;
  background: #FFFFFF;
  border-radius: 10px;
  font-size: large;
  white-space: nowrap;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.inside_mobile .pictures_mobile {
  height: 70px;
  width: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

.play_background_mobile{
  background: #201f1f4d;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 22px;
  top: 22px;
  border-radius: 20px;
}
.play_background_mobile .play_arrow_mobile{
  position: absolute;
  width: 11px;
  height: 11px;
  left: 14px;
  top: 14px;
}
.inside_mobile .song_name_mobile{
  position: relative;
  margin-left: 8px;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  padding-bottom: 5px;
  font-size: larger;
} 
.inside_mobile .waves_mobile{
  position: absolute;
  bottom: 2px;
  right: 5px;
  width: 160px;
  height: 40px;
}

.menu_mobile{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: auto;
  font-family: 'Iceberg', sans-serif;
  font-size: 30px;
  color: rgb(12, 11, 11);
}
.menu_mobile ul{
  display: inline;
  margin: 0;
  padding: 0;
  top: 40px;
  left: 30%;
}
.menu_mobile li {
  float: left;
  padding: 2px 5px;
  font-size: 40px;
  margin-right: 40px;
  width: 133px;
  height: 59px;
}




.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  background-image: url('/static/images/upload.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  align-items: center;
  height: 200px;
  max-height: 200px;
  max-width: 200px;
  padding: 20px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  border-radius: 400px;
}

.drop-container:hover {
  background: #eee;
  background-image: url('/static/images/upload.png');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
  border-color: #111;
  border-radius: 400px;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file] {
  width: auto;
  max-width: 70%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
input.hover-center-1 {
  background-image: linear-gradient(0, #000000, #000000);
  background-color: rgb(255, 255, 255);
  color: black;
  background-size: 0;
  transition: .8s;
  background-repeat: no-repeat;
  background-position: bottom;
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  width: 130px;
  height: 40px;
  border-radius: 12px;
  border-width: 0px 0px 0px 0px;
  font-family: 'Iceberg', sans-serif;
  font-size: 20px;
}

input.hover-center-1:hover {
  background-size: 100%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}